<header>
  Girl, you logged in as {{inline-user user=.}} and sockets are {{socketState}}

  <button {{action "logout"}}>log out</button>
</header>

<div id="everything">
  <div id="sidebar">
    Conversations
    <div id="conversations">
      {{#each conversations}}
        {{#link-to 'conversation' . class="room"}}
          <span class="room-name">{{name}}</span>
          <span class="unread-count">0</span>
        {{/link-to}}
      {{/each}}
    </div>
    Rooms
    <div id="rooms">
      {{#each rooms}}
        {{#link-to 'room' . class="room"}}
          <span class="room-name">{{name}}</span>
          <span class="unread-count">0</span>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
  <div id="content">
    {{outlet}}
  </div>
</div>
