{{#if showSender}}
  <div class="row">
    <div class="gutter">
      {{-avatar user=sender}}
    </div>
    <div class="alley">
      <div class="message-timestamp">{{date}}</div>
      <span class="sender-name">{{sender.name}}</span>
    </div>
  </div>
{{/if}}
<div class="row">
  <div class="gutter">
    <div class="status"></div>
  </div>
  <div class="alley message-content">
    {{#if showTimeStamp}}
      <div class="message-timestamp">{{time}}</div>
    {{/if}}
    {{{htmlContent}}}
  </div>
</div>
