{{#if showTimeStamp}}
  <div class="message-timestamp">{{time}}</div>
{{/if}}
{{#unless isRepeatSender}}
  <div class="gutter">
    {{-avatar user=sender}}
  </div>
  <div class="alley sender">
    {{sender.name}}
  </div>
{{/unless}}
<div class="gutter status unread">
</div>
<div class="alley message-content"><span class="attribution">{{sender.name}}: </span>{{{htmlContent}}}</div>
