{{#if showTimeStamp}}
  <div class="message-timestamp">{{time}}</div>
{{/if}}
{{#unless isRepeatSender}}
  <div class="gutter">
    {{-avatar user=user}}
  </div>
  <div class="alley sender">
    {{user.name}}
  </div>
{{/unless}}
<div class="gutter status unread">
</div>
<div class="alley message-content"><span class="attribution">{{user.name}}: </span>{{{htmlContent}}}</div>
